<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="POC Test Suite Page Object Model with PageFactory" parallel="tests">
    	<groups>
		<run>
			<!-- <include name="high"/> -->
			<!-- <exclude name="low"/> -->
		</run>
	</groups>
	<listeners>
		<listener class-name="listener.CustomListeners"/>
		<listener class-name="listener.ExtentReporterNG"/>
		<listener class-name="org.uncommons.reportng.HTMLReporter"/>
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>    
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="testcases.ba.baPlanTripTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
